/* Estilos gerais */
body {
    font-family: 'Montserrat', sans-serif;
    /* background: linear-gradient(135deg, #E0FBFC, #253237); */
    background: linear-gradient(to right, #000000, #324A5F);
    /* Atualizado para usar cores da paleta */
    color: #CCC9DC;
    /* Cor do texto */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Garamond', serif;
    color: #CCC9DC
}

h2 {
    font-family: 'Orbitron', sans-serif;
    color: #5C6B73;
    /* Atualizado para uma cor mais escura */
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Estilo para o container geral */
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
    margin-left: 20px;
    width: 90%;
    height: 90vh;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    /* Aumentei a transparência */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}


/* Estilo da barra de rolagem para navegadores WebKit */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #E0FBFC;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #5C6B73;
    border-radius: 10px;
    border: 2px solid #C2DFE3;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253237;
}

/* Para Firefox */
.scrollable-element {
    scrollbar-color: #5C6B73 #E0FBFC;
    scrollbar-width: thin;
}

/* Estilo da lista de imagens */
.image-list {
    width: 25%;
    border-right: 2px solid #C2DFE3;
    /* Atualizado para usar a cor da paleta */
    padding-right: 20px;
    overflow-y: auto;
    max-height: 100%;
    text-align: center;

}

.image-list h2 {
    color: #5C6B73;
    /* Atualizado para uma cor mais escura */
}

.images {
    display: flex;
    flex-direction: column;
}

.image-item {
    margin-bottom: 15px;
    cursor: grab;
    transition: transform 0.2s ease;
}

.image-item:hover {
    transform: scale(1.05);
}

.image-item img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(94, 107, 115, 0.7);
    /* Cor da sombra mais escura */
}

/* Botão de carregar mais imagens */
button {
    background-color: #5C6B73;
    /* Cor do botão */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #9DB4C0;
    /* Cor do botão ao passar o mouse */
    box-shadow: 0px 0px 10px rgba(94, 107, 115, 0.7);
    /* Sombra ao passar o mouse */
}

/* Estilo da zona de drop */
.box-drop-zone {
    width: 90%;
    background: rgba(255, 255, 255, 0.1);
    /* Aumentei a transparência */
    border: 2px dashed #5C6B73;
    /* Atualizado para usar a cor da paleta */
    min-height: 400px;
    max-height: 70vh;
    /* padding: 20px; */
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #253237;
    margin-left: 20px;
    margin-top: 50px;
    /* Cor do texto */
}

.drop-zone {
    width: 90%;
    background: rgba(255, 255, 255, 0.1);
    /* Aumentei a transparência */
    border: 2px dashed #5C6B73;
    /* Atualizado para usar a cor da paleta */
    min-height: 400px;
    max-height: 70vh;
    /* padding: 20px; */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #253237;
    margin-left: 20px;
    margin-top: 50px;
    /* Cor do texto */
}

.drop-zone h2 {
    color: #5C6B73;
    /* Atualizado para uma cor mais escura */
    margin-bottom: 20px;
}

.dropped-image {
    margin-bottom: 20px;
}

.dropped-image img {
    border-radius: 8px;
    width: 200px;
    box-shadow: 0px 0px 15px rgba(94, 107, 115, 0.7);
    /* Cor da sombra mais escura */
}

.dropped-image p {
    margin-top: 10px;
    font-family: 'Roboto Mono', monospace;
    color: #324A5F;
    /* Atualizado para uma cor mais escura */
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #C2DFE3;
    /* Cor de fundo mais clara */
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(94, 107, 115, 0.7);
    /* Cor da sombra mais escura */
}

.modal-content form label {
    display: block;
    margin-bottom: 10px;
    color: #5C6B73;
    /* Atualizado para uma cor mais escura */
    font-family: 'Roboto Mono', monospace;
}

.modal-content input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #324A5F;
    /* Atualizado para usar a cor da paleta */
    width: 100%;
    margin-bottom: 15px;
    background-color: #CCC9DC;
    /* Cor de fundo mais clara */
    color: #324A5F;
    /* Cor do texto do input */
}

.modal-content button {
    background-color: #324A5F;
    /* Cor do botão */
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.modal-content button:hover {
    background-color: #9DB4C0;
    /* Cor do botão ao passar o mouse */
    box-shadow: 0px 0px 10px rgba(94, 107, 115, 0.7);
    /* Sombra ao passar o mouse */
}

.modal-content button[type="submit"] {
    margin-top: 10px;
}