html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%;
}

/*
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: scroll;
}
*/

.section {
    height: 100vh;
    padding: 20px;
    background-color: lightgray;
    margin-bottom: 10px;
}

.Home {
    /* min-height: 200vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
}

.Home h1 {
    font-size: 64px;
}

.Home h3 {
    font-size: 32px;
}

.Home button {
    font-size: 25px;
    margin: 10px;
    padding: 20px 60px; /* Mantenha o padding para o espaçamento interno */
    width: 350px; /* Define uma largura fixa para os botões */
    border: 2px solid #CCC9DC;
    background-color: transparent;
    color: #CCC9DC;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center; /* Garante que o texto fique centralizado */
}


.Home button:hover {
    background-color: #000000; /* Fundo escuro ao passar o mouse */
    color: #fff; /* Texto branco no hover */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

.Home button:focus {
    outline: none; /*    Remove o foco padrão do botão */
}

.Home button:active {
    transform: scale(0.98); /* Efeito de pressionamento do botão */
}

.label-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #CCC9DC;
    border: 2px solid #CCC9DC;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    font-weight: bold;
}

.label-button:hover {
    background-color: #000000; /* Cor mais escura ao passar o mouse */
    color: #fff;
    border-color: #fff;
    transform: scale(1.05);
}

.label-button:focus {
    outline: none;
}

.label-button:active {
    transform: scale(0.98);
}

.Start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 300px;
    text-align: center;
}

.Start button {
    font-size: 64px;
    margin: 10px;
    padding: 20px 60px; /* Mantenha o padding para o espaçamento interno */
    border: 2px solid #CCC9DC;
    background-color: transparent;
    color: #CCC9DC;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center; /* Garante que o texto fique centralizado */
}

.Start button:hover {
    background-color: #000000; /* Fundo escuro ao passar o mouse */
    color: #fff; /* Texto branco no hover */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

.Start button:focus {
    outline: none; /*    Remove o foco padrão do botão */
}

.Start button:active {
    transform: scale(0.98); /* Efeito de pressionamento do botão */
}

.Intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}

.Intro button {
    font-size: 16px;
    margin: 10px;
    padding: 10px 10px; /* Mantenha o padding para o espaçamento interno */
    border: 2px solid #CCC9DC;
    background-color: transparent;
    color: #CCC9DC;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    opacity: 0; /* Inicialmente invisível */
    animation: fadeIn 3s forwards; /* Animação de fade-in para o botão */
}

.Intro button:hover {
    background-color: #000000; /* Fundo escuro ao passar o mouse */
    color: #fff; /* Texto branco no hover */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

.Intro button:focus {
    outline: none; /* Remove o foco padrão do botão */
}

.Intro button:active {
    transform: scale(0.98); /* Efeito de pressionamento do botão */
}

/* Animação de fade-in para palavras e botão */
@keyframes fadeIn {
    from {
        opacity: 0; /* Início invisível */
    }
    to {
        opacity: 1; /* Totalmente visível */
    }
}

.fade-in {
    opacity: 0; /* Inicia invisível */
    animation: fadeIn 0.5s forwards; /* Animação de fade-in */
}