html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: scroll;
}

.section {
    height: 100vh;
    padding: 20px;
    background-color: lightgray;
    margin-bottom: 10px;
}

.Home {
    min-height: 200vh; /* Altura suficiente para permitir rolagem */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
}

.Home h1 {
    font-size: 52px;
}

.Home h3 {
    font-size: 18px;
}

.Home button {
    font-size: 25px;
    margin: 10px;
    padding: 100px 130px;
}