html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: scroll;
}

.section {
    height: 100vh;
    padding: 20px;
    background-color: lightgray;
    margin-bottom: 10px;
}

.Home {
    min-height: 200vh; /* Altura suficiente para permitir rolagem */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
}

.Home h1 {
    font-size: 52px;
}

.Home h3 {
    font-size: 18px;
}

.Home button {
    font-size: 25px;
    margin: 10px;
    padding: 20px 60px; /* Mantenha o padding para o espaçamento interno */
    width: 350px; /* Define uma largura fixa para os botões */
    border: 2px solid #CCC9DC;
    background-color: transparent;
    color: #CCC9DC;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center; /* Garante que o texto fique centralizado */
}


.Home button:hover {
    background-color: #000000; /* Fundo escuro ao passar o mouse */
    color: #fff; /* Texto branco no hover */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

.Home button:focus {
    outline: none; /*    Remove o foco padrão do botão */
}

.Home button:active {
    transform: scale(0.98); /* Efeito de pressionamento do botão */
}